<section class="freebies has-padding" id="contact" style="background-image: url(assets/mainbg2.jpg);">
    <div class="container freebies-intro">
        <div>
            <div class="row">
                <div class="col-md-6 content-left panel panel1">
                    <p>Contact Info:</p>
                    <p>Email: contact@f5software.us</p>
                    <p>Dennis' Cell: (480) 466-4257</p>
                    <p>Trevor's Cell: (702) 769-2947</p>
                </div>
                <div class="col-md-6 content-right panel panel2">
                    <p>Hours of Operation:</p>
                    <p>We're programmers. We don't sleep</p>
                </div>
            </div>
        </div>
    </div>
</section>