<header class="hero">
    <div class="carousel">
        <div class="carousel-cell" style="background-image: url(assets/mainbg1.jpg);">
            <div class="hero-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="wp1 animated fadeInUp">Welcome to F5 Software!</h1>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 hero-intro-text wp3 animated fadeInUp">
                            <p>F5 Software is dedicated to delivering fresh and modern web, desktop, and mobile applications to your business </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</header>