<section class="crew has-padding alternate-bg" id="team" style="background-image: url(assets/mainbg2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="crew-member" style="background-image: url(assets/crew-peter-finlan.jpg)">
                    <figure>
                        <figcaption class="overlay">
                            <h2>Dennis Fuller</h2>
                            <p>Owner: Full stack engineer with 20+ years of experience from start-ups to enterprise with expertise in web, desktop, and mobile application architecture and design.</p>
                            <div class="crew-socials">
                                <ul>
                                    <li><a href="https://www.linkedin.com/in/dennisfuller" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="crew-member" style="background-image: url(assets/crew-blaz-robar.jpg)">
                    <figure>
                        <figcaption class="overlay">
                            <h2>Trevor Jones</h2>
                            <p>Developer: Bio chemist turned programmer. Trevor traded in his lab coat to become a world-renowned software developer.</p>
                            <div class="crew-socials">
                                <ul>
                                    <li><a href="https://www.linkedin.com/in/trevor-jones-8bb1b5133/" targe="_blank"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="crew-member" style="background-image: url(assets/crew-mary-lou.jpg)">
                    <figure>
                        <figcaption class="overlay">
                            <h2>Jaime Fuller</h2>
                            <p>Developer: Former RN superstar, Jaime trashed the scrubs and stesthoscope for a laptop and energy drinks to join our ranks</p>
                            <div class="crew-socials">
                                <ul>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
    </div>
</section>