<div class="container-fluid">
    <div class="row">
        <div class="header-nav-wrapper">
            
            <div class="logo">
                 <a href="/index.html">
                    <!-- <img src="assets/logo.png" height="100px" alt="F5 Software"> -->
                </a>
            </div>

            <div class="primary-nav-wrapper">
                <nav>
                    <ul class="primary-nav">
                        <li><a routerLink="home">Home</a></li>
                        <li><a routerLink="mission">Mission</a></li>
                        <li><a routerLink="team">Team</a></li>
                        <li><a routerLink="portfolio">Portfolio</a></li>
                        <li><a routerLink="contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="navicon">
                <div class="nav-toggle"><span></span></div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<footer class="footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 footer-nav">
                <ul class="footer-primary-nav">
                    <li><a routerLink="home">Home</a></li>
                    <li><a routerLink="mission">Mission</a></li>
                    <li><a routerLink="team">Team</a></li>
                    <li><a routerLink="portfolio">Portfolio</a></li>
                    <li><a routerLink="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

