<section class="collective has-padding" id="mission" style="background-image: url(assets/mainbg2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-9 panel panel3">
                <p>Not all software is one-size-fits-all. As a small business, enterprise, or mom and pop shop your business has very specific software needs that are usually squeezed and manipulated into software that other companies outside of your market are also using. </p>

                <p>At F5 Software, LLC we strive to provide businesses with a way to get affordable, quality software that meets your business needs no matter which market or vertical you operate in.</p>
            </div>
        </div>
    </div>
</section>