<section class="latest-articles has-padding alternate-bg" id="portfolio" style="background-image: url(assets/mainbg2.jpg);">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                        <article class="article-post">
                            <a href="www.wooly.cc">
                                <div class="article-image has-overlay" style="background-image: url(assets/wooly.png)">
                                    <span class="featured-tag">Featured</span>
                                </div>
                                <figure>
                                    <figcaption>
                                        <h2>Wooly, Inc (Web)</h2>
                                        <p>A website dedicated to helping businesses find their most influential customers and working with them to become brand ambassadors.</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </article>
                    </div>
            <div class="col-md-4">
                <article class="article-post">
                    <a href="https://play.google.com/store/apps/details?id=com.poopsalary" target="_blank">
                        <div class="article-image has-overlay" style="background-image: url(assets/PS_512.png)">
                            
                        </div>
                        <figure>
                            <figcaption>
                                <h2>Poop Salary (Android)</h2>
                                <p>Humorous app to track how much money you make when you use the restroom at work</p>
                            </figcaption>
                        </figure>
                    </a>
                </article>
            </div>
            <div class="col-md-4">
                <article class="article-post">
                    <a href="https://play.google.com/store/apps/details?id=test.rewardmychore">
                        <div class="article-image has-overlay" style="background-image: url(assets/rmc_512.png)">
                        </div>
                        <figure>
                            <figcaption>
                                <h2>Reward My Chore (Android)</h2>
                                <p>Track your child's chores and reward them for their efforts by helping them set goals and save towards those goals.</p>
                            </figcaption>
                        </figure>
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>