/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 15px;
  line-height: 27px;
  padding-bottom: 15px;
  color: #00AEEF;
}

h1 {
  font-size: 45px;
  font-weight: 300;
  line-height: 68px;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #8A9097;
}

h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 7px 0 65px 60px;
  text-transform: uppercase;
}

h4:after {
  display: block;
  width: 30px;
  height: 2px;
  margin-top: 15px;
  content: '';
  background-color: #2E3192;
}

h5 {
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  color: #00AEEF;
}

.bold-italic {
  font-weight: 600;
  font-style: italic;
}
